<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Roman Numeral Quiz</title>
  <script src="https://use.fontawesome.com/ee14bb1f23.js"></script>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="RomanNumeralQuiz">
<div class="container">
<h1>Roman Numeral Quiz</h1>
<div class="content" ng-controller="RomanNumeralController as controller">

    <div class="col-lg-4 col-md-4 col-sm-12 left">Your number:</div>
    <div class="col-lg-4 col-md-4 col-sm-12 center"><h2>{{ controller.arabicNumber }}</h2></div>

    <div class="clear"></div>

    <div class="col-lg-4 col-md-4 col-sm-12 left">Convert to a Roman numeral:</div>
    <div class="col-lg-4 col-md-4 col-sm-12 center">
      <input type="text" placeholder = "?" ng-model="controller.answer"/>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 right">
    <button ng-click="controller.checkAnswer(controller.arabicNumber, controller.answer)">Check</button></div>

    <div class="clear"></div>

    <h2>{{ controller.verdict }}</h2>
    <p>{{ controller.correctAnswer }}</p>
    <p><button ng-click="controller.reset()">New number</button></p>

    <div class="clear"></div>

</div>
</div>
  
</body>
</html>
