html { 
  background: url(http://kellylougheed.com/images/backgrounds/colosseum-colors.jpg) no-repeat center center fixed; 
  background-size: cover;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', arial;
  letter-spacing: 2px;
}

nav {
  float: right;
}

nav a, nav a:link, nav a:active, nav a:visited {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  padding-bottom: 2px;
  text-transform: uppercase;
  border-bottom: 3px solid rgb(229,172,34);
}

nav a:hover {
  color: rgb(229,172,34);
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 1px dotted black;
}

a:hover {
  border-bottom: 1px solid black;
}

div.container {
  position: absolute;
  top: 100px;
  width: 70%;
  left: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

div.content {
  background:rgba(255,255,255,.8);
  border-radius: 5px;
  padding: 10px;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 0;
  letter-spacing: 1px;
}

h1 {
  font-size: 4em;
  color: rgb(229,172,34);
  text-shadow: 3px 3px black;
  margin-bottom: -10px;
}

h2 {
  font-size: 2.5em;
}

p {
	  letter-spacing: 2px;
  	text-align: center;
}

span {
  padding: 0 20px 0 20px;
}

span.answer {
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3em;
}

input, button {
  opacity: .8;
  background-color: rgb(229,172,34);
  color: #ffffff;
  text-align: center;
  letter-spacing: 3px;
  padding: 10px;
  font-size: .9em;
  border: none;
  border-radius: 20px;
  font-family: 'Lato', arial;
  transition-property: all;
  transition-duration: .5s;
}

input[type="text"] {
  width: 90%;
  font-size: 1.1em;
}

button:hover {
  background-color: rgb(210,122,49);
  cursor: pointer;
}

.clear {
  clear: both;
}

.long-text {
  line-height: 25px;
}

ol.history li {
  margin-bottom: 20px;
}

/********** Large devices **********/
@media (min-width: 992px) {

.center {
  text-align: center;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: none;
    padding: 10px;
    vertical-align: center;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {

  div.container {
  position: relative;
  top: 100px;
  transform: none;
  width: 90%;
  left: 5%;
}

.center {
  text-align: center;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}
  
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: none;
    padding: 10px;
  }
 
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
    align: center;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices **********/
@media (max-width: 767px) {

div.container {
  position: relative;
  top: 20px;
  left: 0px;
  transform: none;
  width: 90%;
}

h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

h2 {
  font-size: 2em;
}
  
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    border: none;
    padding: 10px;
    text-align: center;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
